@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  font-family: 'Comme', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Logo */
.logoFont {
  font-family: 'Luckiest Guy', cursive;
  font-weight: bold;
}

/* Dark Mode */
.darkModePrimaryBg {
  background-color: #2E4F4F;
}
.darkModeSecondaryBg {
  background-color: #2C3333;
}
.darkModeTertiaryBg {
  background-color: #747474;
}
.darkModePrimaryText {
  color: #CBE4DE;
}
.darkModeSecondaryText {
  color: #0E8388
}
.darkModeTertiaryText {
  color: #ffffff
}

/* Light Mode */
.lightModePrimaryBg {
  background-color: #a6deff;
}
.lightModeSecondaryBg {
  background-color: #329ae0;
}
.lightModeTertiaryBg {
  background-color: #ffffff;
}
.lightModePrimaryText {
  color: #212121;
}
.lightModeSecondaryText {
  color: #0D7377
}
.lightModeTertiaryText {
  color: #000000
}

/* Animations */
.smooth-transition {
  transition: all 0.35s ease-in-out;
}

.rotate-arrow-up {
  transform: rotate(180deg);
  transition: transform 100ms ease-in-out;
}

.rotate-arrow-down {
  transform: rotate(0deg);
  transition: transform 100ms ease-in-out;
}

