@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comme:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
  font-family: 'Comme', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Logo */
.logoFont {
  font-family: 'Luckiest Guy', cursive;
  font-weight: bold;
}

/* Dark Mode */
.darkModePrimaryBg {
  background-color: #2E4F4F;
}
.darkModeSecondaryBg {
  background-color: #2C3333;
}
.darkModePrimaryText {
  color: #CBE4DE;
}
.darkModeSecondaryText {
  color: #0E8388
}

/* Light Mode */
.lightModePrimaryBg {
  background-color: #EEEEEE;
}
.lightModeSecondaryBg {
  background-color: #32E0C4;
}
.lightModePrimaryText {
  color: #212121;
}
.lightModeSecondaryText {
  color: #0D7377
}

.smooth-transition {
  transition: all 0.35s ease-in-out;
}

